!!! 5
html
  head
    link(href='style.css', rel='stylesheet', type='text/css')
    script(src='main.js')
    title ChatCandidateTutorial
  body
    img.button1(src='img/Prev.png', alt='PREV', onclick='getPrevImage()')
    img#slideImg(alt='slides', src='slides/slide1.jpg', width='800', height='600')
    img.button1(src='img/Next.png', alt='NEXT', onclick='getNextImage()')
