extends layout
block title
  title Natural Language Automated Negotiators
block body
 img(src='images/handshake_human_robot_2_clipped_1by4.jpg',width='100%')
 div(style='font-size:16px;padding:1em')
  h1 Automated Negotiation Agents
  
  p Come and chat with our top-quality negotiation agents!
  p You are going to play a game of negotiation between an <b>employer</b> and a <b>job candidate</b>, about the job conditions of the candidate. 
  p You can play either the employer or the candidate. The other role is played by one of our automated negotiators - <b>NegoChatAgent</b> or <b>KBAgent</b>.
  p You negotiate by chatting in <b>natural language</b> (English). 
  p To select a game, click one of the links below. The links lead to a page with detailed instructions. We even included an exam so that you can be sure you understood the rules.
  p Happy negotiation! 
  ul 
    li 
      a(href='/NegoChatAgentDemo_JobCandidate/advanced/Employer') Play the <b>employer</b> against a <b>NegoChatAgent</b> candidate
    li
      a(href='/NegoChatAgentDemo_JobCandidate/advanced/Candidate') Play the <b>candidate</b> against a <b>NegoChatAgent</b> employer
    li
      a(href='/KBAgentDemo_JobCandidate/advanced/Employer') Play the <b>employer</b> against a <b>KBAgent</b> Candidate
    li
      a(href='/KBAgentDemo_JobCandidate/advanced/Candidate') Play the <b>candidate</b> against a <b>KBAgent</b> Employer
  h2 Publications
  ul
    li <b>KBAgent</b>: Yinon Oshrat, Raz Lin and Sarit Kraus. "Facing the challenge of human-agent negotiations via effective general opponent modeling". in AAMAS 2009.
    li <b>NegoChatAgent</b>: Avi Rosenfeld, Erel Segah-Halevi, Osnat Drein, Inon Zuckerman and Sarit Kraus. "NegoChat: A Chat-Based Negotiation Agent". in AAMAS 2014.
  p(style='font-size:10px;float:right') Image credit: 
    a(href='http://www.flickr.com/photos/granick/211744011/in/photostream/') Jennifer
  