extends layout
block title
  title Demographic Questionnaire
block body

  div#analysisContainer
    meta(charset='utf-8')
      title
    body(style='direction: rtl;')
      h1
        | טופס הסכמה מדעת להשתתפות במחקר
      table
        tr
          td 1- 
          td
          td מצהיר/ה בזה כי אני מסכים/ה להשתתף במחקר כמפורט במסמך זה.
        tr
        tr
          td  2-
          td
          td  מצהיר/ה בזה כי הוסבר לי כדלהלן:
        tr
          td
          td a-- 
          td  כי החוקר/ת קיבל/ה אישור מוועדת אתיקה לביצוע המחקר.
        tr
          td
          td b-- 
          td כי המחקר נערך בנושא משא ומתן.
        tr
          td
          td c-- 
          td
            | כי אני חפשי/ה להפסיק בכל עת את השתתפותי בניסוי וכי איני צפוי לשום סנקציה אם אבחר לעשות כן.
        tr
          td
          td d-- 
          td
            | כי ידוע לי שבמהלך הניסוי אתבקש למלא פרטים דמוגרפיים, למשל, גיל, מין וכד. . מידע זה ישמש לצורכי אנליזה של הניסוי. שמי וכל מידע אחר לא יחשף.
        tr
          td
          td e-- 
          td  כי מובטחת סודיות באשר לזהותי האישית בפרסומים מדעיים.
        tr
          td
          td f-- 
          td
            | כי בכל בעיה הקשורה למחקר אוכל לפנות לחוקר/ת פרופ' שרית קראוס  בטלפון 03-5318762  או במייל sarit@cs.biu.ac.il  להתייעצות  נוספת.
        tr
        tr
          td 3-
          td
          td  הנני מצהיר/ה כי נמסר לי מידע על המחקר ובמיוחד הפרטים הבאים:
        tr
          td
          td a-- 
          td  מטרות המחקר: ללמוד כיצד אנשים מנהלים משא ומתן.
        tr
          td
          td b-- 
          td
            | שיטות: משתתף בניסוי יתבקש לשחק במשחק מול שחקן נוסף, ממוחשב או אנושי, במשך עד שעה באמצעות המחשב. בזמן הניסוי הם יצטרכו לקבל החלטות, ולבסוף יתבקשו לענות על כמה שאלות לגבי הניסוי.
        tr
        tr
          td 4-
          td
          td
            | הנני מצהיר/ה בזה כי את הסכמתי הנ"ל נתתי מרצוני החופשי וכי הבינותי את כל האמור לעיל.
