extends layoutForChat

block roomScripts
    script(src='/javascripts/RoomForNegoChat.js')
    script(src='/javascripts/IssueValueMenus.js')

block previewNotes 
    div.mainSection#previewNoteRow PLEASE NOTE: this research study requires that you read the entire description of the setting, correctly answer a few questions based on the description and then <b>wait for another person to join</b>. Otherwise you will not receive the money.
    div.mainSection#previewNoteRow Additionally, if you do the experiment more than once, you will receive payment only for the first time.
    //| You will receive a bonus based on how good your agreement is. 

block mainGui
    if (locals.agent)
     div.mainSection <!-- row #3: explanations to the user; possible values and utils -->
       | This is a game of <b>negotiation</b> #{domain_description}
       ul
        li You are the <b>#{role}</b>. 
        li The negotiation relates to several <b>issues</b>. For each issue, there are several possible <b>values</b>.
        li Your score depends on the <b>values</b> in the final agreement, and on <b>time</b>. Click "Your scores" for details.
        li Use the menus below as a draft. Your partner cannot see them - you communicate with <b>chat</b> only. 
        li This draft is <b>not binding</b> until both of you sign it.
       div &nbsp;  
       include GeniusMenus
       div
        button(id='signAgreement',disabled='disabled',title="The sign button is enabled only when your draft is consistent with your partner's draft on all issues") Sign the agreement

    div#mainChatRow.mainSection <!-- row #4: chat -->
      p <b>Please write a complete, grammatically correct English sentence.</b>
      p 
        input#chatMessage(value="")
        button#btnSendChat Say
