extends layoutForChat

block roomScripts
    script(src='/javascripts/RoomForNegoChat.js')

block previewNotes 
    div.mainSection#previewNoteRow PLEASE NOTE: this research study requires that you read the entire description of the setting, correctly answer a few questions based on the description and then <b>wait for another person to join</b>. Otherwise you will not receive the money.
    div.mainSection#previewNoteRow Additionally, you are not allowed to this experiment more than once. If you do it more than once, you will receive payment only for the first time.

block mainGui
    if (agent)
     div.mainSection <!-- row # 3: explanations to the user; possible values and utils -->
       include GeniusIssuesAndValues

    div#mainChatRow.mainSection <!-- row #4: chat -->
      p <b>Please write a complete, grammatically correct English sentence.</b>
      p 
        input#chatMessage(value="")
        button#btnSendChat Say
