body,table,thead,tbody,th,tr,td,form {
    font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;

}

/*body.negochatstoragetest {	
	background-image: url(test2.png);
}*/

#index {
    margin: 30px;
}

#announcement{
	border: black solid 2px;
	color: red;
	padding: 5px;
	cursor: pointer;
	font-size: larger;
}

p.wrongAnswer{
  color: red;
  background: yellow;
}

h1 {
	text-align: center;
}

#questForm {
	border: black solid 1px;
	padding: 1em;
	background: #f8f8f8;
}

#questForm .label {
	text-align: right;
}

#questForm .field {
	text-align: left;
}

:lang(he) {
	font-family: Arial, sans-serif;
	font-size: 120%;
}

body {

	color: #000000;
	position: relative;
	overflow-x: hidden;
	font-size: 10pt;
}

/* Erel: All containers are not used in asyncBidding.jsp : */
#loginContainer {
	margin: 0 auto;
	width: 600px;
}

#mainMenuContainer {
	margin: 0 auto;
	width: 600px;
}

#biddingContainer {
	margin: 0 auto;
	width: 1300px;
}

#analysisContainer {
	margin: 0 auto;
	width: 1000px;
}

#userContainer {
	margin: 0 auto;
	width: 600px;
}

#prefElicitationContainer {
	margin: 0 auto;
	width: 600px;
}

input,select,textarea {
	border-color: #84A5CE #C1D2E7 #C1D2E7 #84A5CE;
	border-style: solid;
	border-width: 1px;
	color: #444444;
	font-size: 80%;
}

input.button {
	padding: 1px 2px;
	margin: 2px;
	overflow: visible;
}

button {
	font-size:14px;
	padding: 0; 
	margin: 0; 
	font-weight: bold;
}

table.help {
	/*width: 380px; */
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

th.help {
	background-color: #FFFF66;
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	color: #404040;
	text-align: left
}

td.help {
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	color: #404040;
	text-align: left
}

/* Erel: prefElicit is not used in asyncBidding.jsp: */
table.prefElicitIssue {
	width: auto;
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

th.prefElicitIssue {
	background-color: #99CCCC;
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	font-weight: bold;
	color: #404040;
	text-align: left
}

td.prefElicitIssue { /*font-family: Verdana;*/
	color: #404040;
	text-align: left
}

table.prefElicitEval {
	width: auto;
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

th.prefElicitEval {
	background-color: #FFFF66;
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	font-weight: bold;
	color: #404040;
	text-align: left
}

td.prefElicitEval {
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	color: #404040;
	text-align: left
}

table.contacts {
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: auto;
}

/*table#mainPanel {
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: auto;
}*/

th.index {
	background-color: #99CCCC;
	border: 1px #000000 solid;
	/*font-family: Verdana;*/
	font-weight: bold;
	color: #404040;
}

td.contact {
	border-bottom: 1px #6699CC dotted;
	padding: 0px 3px;
}

body.utilityBody {
	text-align: left;
	padding-left: 10px;
}

table.utility {
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: left;
	font-weight: normal;
	/*width: 380px; */
}

table.utility td, table.utility th {
    border: solid 1px black;
}

th.utility {
	background-color: #99CCCC;
	font-weight: bold;
	text-align: center;
	color: #404040;
	padding: 4px 2px 4px 2px;
}

td.utilityValue {
	color: #404040;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 0px;
}

td.utilityUtil {
	text-align: center;
	/*font-family: Verdana, sans-serif, Arial;*/
	font-weight: normal;
	color: #404040;
}

tr.utilityIssue {
	border-bottom: 1px #6699CC dotted;
	text-align: center;
	/*font-family: Verdana, sans-serif, Arial;*/
	font-weight: bold;
	color: #404040;
	background-color: #fafafa;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
}

.hidden {
	display: none;
}

.newTurn {
	background-color: black;
	color: white;
}

div.mainSection {
	border: 3px solid #008;
	margin: 5px 5px 5px 5px;
	width: 650px;
	padding: 2px;
}

#mainTitleRow {
	text-align: center;
	border: none;
	font-weight: bold;
	color: #404040;
	font-size: larger
}

#mainStatusRow {
	border-color: #808;
	font-weight: bold;
}

#noJavascriptSupport {
	border-color: #F00;
	font-weight: bold;
}
#waiting{
	border-color: #F00;
font-weight: bold;
}

#mainStatusRow table {
	width: 100%;
}

#mainStatusRow td {
	padding: 0 4px;
	border-right: dashed 1px #888; 
}

#mainChatRow {
	border-color: #0c8;
	font-size: 16px;
}

#mainOptOutRow {
	border-color: #444;
}

#mainChatRow input {
	width: 80%
}

#mainChatRow #btnSendChat {
	width: auto;
}

#mainDetailsRow {
	border-color: #448;
}

#mainHistoryRow {
	border-color: #088;
}

#chosenOfferTable {
	/*width: 100%;*/
}

#chosenOfferTable tbody tr td {
	padding-bottom: 4px;
	padding-right: 15px;
	white-space: nowrap;
}

#tblhistory {
	width: 100%;
}

#AMTStatus {
	font-size: 10px;
	font-style: italic;
	border-top: 1px solid black;
	margin-top: 1em;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

table.gamedata {
    font-size:16px;
    margin:auto;
    border-collapse: collapse;
}

table.gamedata td, table.gamedata th {
    border: 1px solid black;
    padding: 6px;
}

table.userdata {
    font-size:16px;
    margin:auto;
    border-collapse: collapse;
}

table.userdata td, table.userdata th {
    border: 1px solid black;
    padding: 6px;
}

/* for the utility dialogs: */
.ui-dialog {
	border: dashed 2px #888;	
}

#signatures {
	border-top: dashed black 1px;
	margin-top: 6px;
	padding-top: 6px;
	font-style: italic;
	text-align:center;
}

/* see RoomForNegoTranslate.js */
a.delete { margin-bottom: 10px; width: 18px; height:18px; display:block; background:transparent url('delete.png') center top no-repeat;}
a.delete:hover {  background-image: url('delete_sharp.png') ; }
.deleted {	text-decoration: line-through }

.help {
	font-size:16px; 	
	margin: 0 6px;
}


.UtilityNaturalLanguage .issue {color: blue; font-weight: bold}
.UtilityNaturalLanguage .valuebold {color: green; font-weight: bold}
.UtilityNaturalLanguage .value {color: green}
.UtilityNaturalLanguage .score {color: red}



